@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
  --text-color: rgb(53, 0, 158);
  --animation-time: 3s;
  --text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px var(--text-color),
    0 0 10px var(--text-color), 0 0 10px var(--text-color),
    0 0 10px var(--text-color), 0 0 10px var(--text-color),
    0 0 20px var(--text-color), 0 0 30px var(--text-color),
    0 0 40px var(--text-color), 0 0 55px var(--text-color),
    0 0 75px var(--text-color);
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  background: rgb(12, 0, 36);
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

* {
  scroll-behavior: smooth;

}

.header p {
  margin: 0px;
  color: #fff;
}

table {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

table td {
  padding-right: 40px;
  padding-top: 10px;
  text-align: left;
  color: #00ffd9;
  font-family: 'Hammersmith One', sans-serif;
}




.sub-title h3 {
  color: rgb(129, 199, 199);
  font-weight: 700;
  font-family: 'Epilogue', sans-serif;
}

.header {
  margin-top: 25vh;
}

.header h1 {
  color: rgb(0, 255, 255);
  font-weight: 700;
  font-family: 'Epilogue', sans-serif;
}


p span:nth-child(1) {
  animation-delay: 2.3s;
}

p span:nth-child(2) {
  animation: turnOn 2s forwards step-end,
    flicker var(--animation-time) infinite step-end 2s;
}

p span:nth-child(3) {
  animation-delay: 2.2s,
}

p span:nth-child(4) {
  animation: turnOn 2.5s forwards step-end,
    flicker var(--animation-time) infinite step-end 1s;
}


p span:nth-child(5) {
  animation-delay: 2.9s;
}

p span:nth-child(6) {
  animation: turnOn 2.7s forwards step-end,
    flicker var(--animation-time) infinite step-end 3s;
}


@keyframes turnOn {
  100% {
    text-shadow: var(--text-shadow);
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    text-shadow: var(--text-shadow);
  }

  99% {
    text-shadow: none;
  }
}

p span {
  opacity: 0.33;
  animation: turnOn forwards step-end;
  font-family: 'Epilogue', sans-serif;
}

@media (min-width:999px) {

  p span {
    font-size: 8em;
  }

  .sub-title h3 {
    font-size: 4em;
  }

  .sub-title p {
    font-size: 1.3em;
  }

  .about h2 {
    font-size: 3em;
  }

  .skills-head h5 {
    font-size: 1.3em;
  }

  .photo img {
    border-radius: 2%;
    filter: drop-shadow(40px 40px 0px #00ffff);
    transition: 1s;
  }

  .line_drop:hover {
    width: 13vw;
  }

  .works h5 {
    font-size: 24px;
  }
}

@media (max-width: 999px) {
  .works h5 {
    font-size: 20px;
  }

  p span {
    font-size: 4em;
  }

  .sub-title h3 {

    font-size: 2em;
  }

  .sub-title p {
    font-size: 1em;
  }

  .about h2 {
    font-size: 1.5em;
  }

  .skills-head h5 {
    font-size: 1.2em;
  }

  .photo {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .photo img {
    border-radius: 3%;
    width: 80vw;
    filter: drop-shadow(20px 20px 0px #00f7ff);
    transition: 1s;

  }

  .intern h3 {
    font-size: 18px;
  }

  .button3 {
    left: 30%;
  }
}

.sub-title p {
  color: rgb(143, 165, 165);
}

.button2 {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  margin: 40px 0;
  font-family: 'Epilogue', sans-serif;
  color: #00ffd9;
  text-decoration: none;
  overflow: hidden;
  letter-spacing: 1px;
  font-weight: bolder;
  transition: 0.5s;
}

a:active,
a {
  text-decoration: none;
}

.button2:hover {
  text-decoration: none;
  background: #00ffd9;
  text-decoration: none;
  color: var(--text-color);
  box-shadow: 0 0 5px #00ffd9, 0 0 25px #00ffd9, 0 0 100px #00ffd9, 0 0 150px #00ffd9;
}

.button2 span {
  position: absolute;
  display: block;
}

.button2 span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00ffd9);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.button2 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #00ffd9);
  animation: animate2 1s linear infinite;
  animation-delay: 0.3s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.button2 span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #00ffd9);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.button2 span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00ffd9);
  animation: animate4 1s linear infinite;
  animation-delay: 0.7s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

#section1 {
  background: rgb(12, 0, 36);
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#section2 {
  background: rgb(12, 0, 36);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  padding-top: 8vh;
}

.about {
  padding-bottom: 5vh;
}

.about h2 {
  font-weight: 700;
  font-family: 'Epilogue', sans-serif;
  margin-top: 10vh;
  color: #00ffd9;
}

.divider {
  display: flex;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
}

.line {
  align-items: center;
}

.line::before,
.line::after {
  height: 3px;
  margin: 0 1em;
}


.gradient::before {
  background: linear-gradient(to left, #00ffd9 40%, transparent);
}

.gradient::after {
  background: linear-gradient(to right, #00ffd9 40%, transparent);
}

.skills-head h5 {
  color: rgb(113, 167, 167);
  font-weight: 700;
  font-family: 'Epilogue', sans-serif;
}

.photo img:hover {
  filter: drop-shadow(0px 0px #e6ff05);
}

.works {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.works h5 {
  color: rgb(157, 216, 216);
  font-weight: 700;
  font-family: 'Epilogue', sans-serif;

}

.line_drop {
  line-height: 2em;
  width: 60vw;
  border-bottom: #00ff88 2px solid;
  text-transform: none;
  transition: 1s;
  width: 100%;
}

.intern h3 {
  color: rgb(38, 211, 75);
  text-align: left;

  font-weight: bold;
}

.intern h5 {
  color: #00f7ff;
  text-align: left;
}

.intern {
  padding-bottom: 30px;
}

.intern:hover {
  background-color: rgba(0, 255, 255, 0.075);
  border-radius: 5%;
}


.intern ul li {
  padding-top: 3vh;
  color: rgb(180, 173, 173);
  font-size: 16px;
  font-weight: bold;
}

.workcards {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.card-content {
  padding: 20px 20px;
  background-color: rgb(26, 0, 63);
  min-height: 200px;
  width: 100%;
  border-radius: 2%;
  margin-top: 4vh;
  transition: 1s;
}

.card-content .icon {
  position: relative;
  float: right;
  padding: 10px 10px;
  padding-bottom: 3vh;
}

.card-content .icon img {
  width: 40px;
  height: 40px;
  padding-left: 10px;
}

.card-content h3 {
  color: #0bce73;
  padding-bottom: 30px;
}

.card-content .para {
  padding-right: 20px;
  font-size: 15px;
  color: rgb(180, 173, 173);
  padding-bottom: 50px;
}

.card-content .skillsused p {
  color: #00ffff;
  font-size: 13px;
}

.card1:hover {
  transform: translateY(-10px);
}

.card1:hover .card-content {
  background-color: #00ffff27;
}

#more {
  display: none;
  margin-top: -40px;
}

.button3 {
  left: 40%;
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  margin: 60px 0;
  font-family: 'Epilogue', sans-serif;
  color: #00ffd9;
  background: rgb(12, 0, 36);
  border-radius: 2%;
  border: 2px solid rgb(0, 255, 255);
  transition: 2s;
}

.button3:active,
.button2:hover {
  color: black;
  background-color: rgb(0, 255, 179);
}