@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');


.sub-menu {
    padding: 0 0 0 2%;
    float: right;
    right: -260px;
    top: 0;
    transition: all 0.3s ease;
    height: 100%;
    width: 260px;
    position: fixed;
    margin: 0;
    background-color: rgb(12, 0, 36);
    border-radius: 0;
    z-index: 1;
    overflow: hidden;

}

.sub-menu.oppenned {
    right: 0;
}

.sub-menu ul {
    margin: 0;
}

.sub-menu li {
    display: block;
    list-style: none;
    height: auto;
    margin-left: 0;
    padding-right: 30px;
    text-align: center;
}

.sub-menu li:first-child {
    margin-top: 10vh;
}

.sub-menu li a {
    font-family: 'Courier Prime', monospace;
    font-size: 1.5em;
    display: block;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8vh;
    text-align: center;
    color: #27ffb7;
    text-decoration: none;
    background: transparent;
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;

}


:root {
    --mainColor: #27ffb7;
}



.c-hamburger {
    display: block;
    position: fixed;
    overflow: hidden;
    margin: 10px;
    padding: 15px;
    width: 36px;
    height: 36px;
    z-index: 2;
    top: 10px;
    right: 20px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 3.5px;
    background: #27ffb7;
}

.c-hamburger span:before,
.c-hamburger span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3.5px;
    background-color: #27ffb7;
    content: "";
}

.c-hamburger span:before {
    top: -10px;
}

.c-hamburger span:after {
    bottom: -10px;
}

.c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
}

.c-hamburger--htx span:before,
.c-hamburger--htx span:after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span:before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}

.c-hamburger--htx span:after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span:before,
.c-hamburger--htx.is-active span:after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
}

.c-hamburger--htx.is-active span:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.c-hamburger--htx.is-active span:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (min-width:999px) {
    .sub-menu li a:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
        background-position: 0 100%;
        background-size: auto 6px;
        background-repeat: repeat-x;
        text-decoration: none;
    }
}
        
@media (max-width:999px) {
    .sub-menu li a:hover {
        color: gold;
    }
}
